.Rproj.user
.Rhistory
.RData
.Ruserdata

cran-comments.*

*.dll

src/RcppExports.cpp
R/RcppExports.R

*.o
*.dat
data/

scratch/scratch.R

*.Rdata

*.scratch

inst/doc

man/

src-i386/
docs
.Rdata
.httr-oauth
.DS_Store



.RDataTmp
